/* MOBILE */
@media screen and (max-width: 767px) {
  .reactions {
    display: flex;
  }
  .reaction {
    border-top: var(--border) solid 1px;
    width: 50%;
    height: 60px;
    background-color: var(--white);
  }
  .like {
    border-right: var(--border) solid 1px;
    flex-direction: row-reverse;
  }
  .repost .reactionIcon {
    margin-right: 18px;
    background: url('../../../assets/spritesheet.png') 70px 0px;
  }
  .like .reactionIcon {
    margin-left: 18px;
  }
  .reactionCount {
    color: var(--reactionCount);
  }
}

/* DESKTOP */
@media screen and (min-width: 768px) {
  .post {
    transition: all 1s ease-out;
  }
  .reactions {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    flex-direction: column;
    min-width: 42px;
    z-index: 4;
  }

  .imgBlock:after {
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    aspect-ratio: 10/9;
    left: 0;
    top: 0;
    z-index: 3;
    background-image: linear-gradient(180deg, rgba(1, 2, 2, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .post:hover .imgBlock:after,
  .post:hover .reactions {
    display: flex;
    animation: fadeInFromNone 0.4s ease-out;
  }
  .reaction {
    flex-direction: column;
    margin-bottom: 18px;
  }
  .reactionIcon {
    margin-bottom: 10px;
  }
  .reactionCount {
    color: var(--white);
  }

  .repost .reactionIcon {
    background: url('../../../assets/spritesheet.png') 35px 0;
  }
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: flex;
      opacity: 0;
    }

    100% {
      display: flex;
      opacity: 1;
    }
  }
}

.post {
  border: var(--border) solid 1px;
  position: relative;
  width: 100%;
}
.postLink {
  width: 100%;
  display: block;
}

/* IMAGE */
.imgBlock {
  width: 100%;
  aspect-ratio: 10/9;
}
.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  display: block;
}

/*PRICE*/
.price {
  width: max-content;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 1.25rem;
  line-height: 1rem;
  color: var(--black);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 17px;
}

.priceBlock {
  --priceContent: max-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom right, var(--white) 0%, var(--white) 50%, transparent 50%, transparent 100%);
  height: 6.25rem;
  min-width: 10rem;
  width: 150%;
}

/* DESCRIPTION */
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 1.563rem 5px;
}
.title {
  font-family: 'Neutra2Text', sans-serif;
  font-size: 1.813rem;
  line-height: 1.563rem;
  color: var(--black);
  padding-bottom: 0.625rem;
  text-align: center;
}
.author {
  font-family: 'Droid Serif', serif;
  font-size: 1.125rem;
  line-height: 1;
  color: var(--black);
}
.authorBy {
  color: var(--secondary);
}

/* REACTIONS */

.reaction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactionCount {
  font-size: 1.438rem;
  line-height: 0.625rem;
  font-family: 'Brandon Grotesque', sans-serif;
}
.reactionIcon {
  width: 35px;
  height: 35px;
  background: contain;
}
.like .reactionIcon {
  background: url('../../../assets/spritesheet.png') 0 0;
}
.like .liked {
  background: url('../../../assets/spritesheet.png') 105px 0;
}
.like:hover .reactionIcon {
  background: url('../../../assets/spritesheet.png') 105px 0;
}
