/* MOBILE 767px*/
@media screen and (max-width: 47.938rem) {
  .header {
    padding: 0 30px;
    max-width: 100%;
  }
}
/* DESKTOP 768px*/
@media screen and (min-width: 48rem) {
  .header {
    padding: 0 80px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  width: 100%;
  background-color: var(--white);
}

.form {
  width: 16.875rem;
  min-width: 5.625rem;
  min-height: 30px;
  border-radius: 15px;
  background-color: var(--primary);
  padding: 8px 20px 7px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.input {
  width: 100%;
  font-size: 1rem;
  /* line-height: 1.25rem; */
  line-height: 1;
  color: var(--black);
  font-family: 'Arial';
}
