@import url(./normalize.css);
@import url(./adjustment.css);

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./fonts/Brandon-Grotesque/Brandon_bld.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Droid Serif';
  src: url('./fonts/Droid-Serif/DroidSerif.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Neutra2Text';
  src: url('./fonts/Neutra2Text/Neutra2Text-Bold.otf');
  font-weight: 500;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --black: #000000;
  --primary: #f6f6f6;
  --secondary: #c2c2bd;
  --border: #e2e2e2;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 20px;
  }
  .container {
    /* width: 90%; */

    width: fit-content;
    margin: 20px auto;
  }
}
.container {
  background-color: var(--primary);
}
